h1{
    display: flex;
    justify-content: center;
    font-size: 2em;
    }

.scbs-carousel-caption h5 {
    color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke: 0.075em black;
    font-size: 1.75em;
}
    